
.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #161515;
}
h1{
  font-size: 2 rem;
  font-weight: bold;
  text-align: center;
  color: #161515;
}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.message {
  text-align: center;
  font-weight: bold;
}

.success {
  color: green;
}

.error {
  color: red;
}
